In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import matplotlib.patheffects as pe
from adjustText import adjust_text

In [14]:
df = pd.read_html("https://fbref.com/en/squads/b8fd03ef/Manchester-City-Stats", header=1)[0]
df["Min_pct"] = 100*df["90s"]/38 ##number of matches in a league season
df = df.dropna(subset=["Age", "Min_pct"])
df = df.loc[:len(df)-1, :]
df[["Player", "Pos", "Age", "Min_pct"]].head()

           Player    Pos     Age    Min_pct
0         Ederson     GK  28-157  55.263158
1    João Cancelo     DF  27-239  55.000000
2  Bernardo Silva  MF,FW  27-164  52.368421
3      Rúben Dias     DF  24-252  49.210526
4           Rodri     MF  25-213  45.789474

In [21]:
df2 = df[["Player", "Pos", "Min_pct"]]
age_list = df["Age"].tolist()

for i in range(len(age_list)):
    str(age_list[i])
    age_list[i].split("-", 1)
    
age_list

['28-157',
 '27-239',
 '27-164',
 '24-252',
 '25-213',
 '27-239',
 '24-293',
 '26-133',
 '31-238',
 '27-044',
 '31-089',
 '21-238',
 '30-207',
 '30-334',
 '26-337',
 '36-262',
 '25-037',
 '27-238',
 '21-326',
 '19-260',
 '26-294',
 '27-188',
 '19-095']